[Desktop Entry]
Name=Centro cursalialinux
Comment=Estudios para desarrollo web y creación de contenido
Exec=centro-cursalialinux
Icon=/usr/share/pixmaps/cursalialinux.png
Terminal=false
Type=Application
Categories=X-CursalialinuxStudios;System;
StartupNotify=true
StartupWMClass=cursaliacentro
