[Desktop Entry]
Name=Audio Studio
Comment=Audio y podcast
Exec=/usr/local/bin/centro-cursalialinux audio
Icon=audio-x-generic
Terminal=false
Type=Application
Categories=X-CursalialinuxStudios;
