[Desktop Entry]
Name=Web Studio
Comment=Desarrollo web
Exec=centro-cursalialinux web
Icon=applications-development
Terminal=false
Type=Application
Categories=X-CursalialinuxStudios;
