[Desktop Entry]
Name=Oficina
Comment=Word, Excel, PowerPoint
Exec=centro-cursalialinux oficina
Icon=applications-office
Terminal=false
Type=Application
Categories=X-CursalialinuxStudios;
